body {
  /*font-family: 'Lora', serif;*/
  /*font-family: 'Commissioner', sans-serif;*/
  font-family: 'Major Mono Display', monospace;
  /*font-family: 'DM Serif Text', serif;*/
 /* margin: auto;*/
  /*background: linear-gradient(to bottom, #ffffff 0%, #003300 100%);*/
  /*background-color: #e6e6e6;*/
  background-color: #f2f2f2;

}

hr.solid {
  border-top: 3px solid #bbb;
}

.fa {
  padding: 10px;
  font-size: 30px;
  width: 50px;
  text-align: center;
  text-decoration: none;
  margin: 5px 2px;
}


.fa-facebook {
  background: #3B5998;
  color: white;
}

.fa-linkedin {
  background: #007bb5;
  color: white;
}

.card-img-top {
    width: 100%;
    height: 15vh;
    object-fit: cover;
}
